alabaster==0.7.11
amqp==2.3.2
Babel==2.6.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
cachetools==2.1.0
cchardet==1.1.3
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
configparser==3.5.0
contextlib2==0.5.5
coverage==4.0.3
croniter==0.3.24
datapackage==1.2.6
decorator==4.3.0
defusedxml==0.5.0
dict2xml==1.6
Django==1.11.15
django-activity-stream==0.6.5
django-admin-tools==0.8.1
django-admin-tools-stats==0.9.0
django-appconf==1.0.2
django-avatar==4.1.0
django-bootstrap-form==3.4
django-bower==5.2.0
django-cache-utils==0.7.2
django-cors-headers==2.2.0
django-countries==5.3.1
django-crispy-forms==1.7.2
django-debug-toolbar==1.9.1
-e git+https://github.com/onaio/django-digest.git@eb85c7ae19d70d4690eeb20983e94b9fde8ab8c2#egg=django_digest
django-filter==1.1.0
django-genericadmin==0.7.0
django-guardian==1.4.9
django-helpdesk==0.2.8
-e git+https://github.com/Kirembu/django-helpline-faq.git@4cd9ef3aa310833bf2fe1cfb9bdc8c67913ab27f#egg=django_helpline_faq
django-jsonfield==1.0.1
django-jsonview==1.2.0
django-mailer==1.2.5
django-markdown-deux==1.0.5
django-mathfilters==0.4.0
django-model-utils==3.1.2
django-multidb-router==0.7
django-nose==1.4.5
-e git+https://github.com/django-notifications/django-notifications.git@2d22f44000b9c7b45fcc0110bb959121cfc9522a#egg=django_notifications_hq
django-nvd3==0.9.7
django-oauth-toolkit==1.1.2
django-ordered-model==2.0.0
django-qsstats-magic==1.0.0
django-query-builder==1.1.0
django-registration-redux==2.4
django-render-block==0.5
django-report-tools==0.2.2
django-reversion==2.0.13
django-selectable==1.1.0
-e git+https://github.com/kirembu/django-sendsms@e69ace26750bb8cc6dcfdc49412d6d6c2ea26733#egg=django_sendsms
django-tables2==1.21.2
django-tables2-reports==0.1.3
django-taggit==0.22.2
django-templated-email==2.2.0
django.js==0.8.1
djangorestframework==3.8.2
djangorestframework-csv==2.1.0
djangorestframework-gis==0.13
djangorestframework-jsonapi==2.4.0
djangorestframework-jsonp==1.0.2
djangorestframework-xml==1.3.0
djcacheutils==3.0.0
docutils==0.14
dpath==1.4.2
elaphe3==0.2.0
email-reply-parser==0.5.9
enum34==1.1.6
et-xmlfile==1.0.1
feedparser==5.2.1
flake8==3.5.0
fleming==0.4.6
FormEncode==1.3.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
geojson==2.4.0
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
gunicorn==19.9.0
httmock==1.2.6
httplib2==0.11.3
idna==2.7
ijson==2.3
imagesize==1.0.0
inflection==0.3.1
iptools==0.6.1
ipython==5.8.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jsonfield==1.0.3
jsonlines==1.2.0
jsonpickle==0.9.6
jsonpointer==1.14
jsonschema==2.6.0
kombu==4.2.1
librabbitmq==2.0.0
linear-tsv==1.1.0
linecache2==1.0.0
lockfile==0.12.2
lxml==4.2.2
Markdown==2.6.11
markdown2==2.3.5
MarkupSafe==1.0
mccabe==0.6.1
mock==2.0.0
modilabs-python-utils==0.1.5
nameparser==0.5.7
nose==1.3.7
numpy==1.14.5
oauth2client==4.1.2
oauthlib==2.1.0
odfpy==1.3.6
openpyxl==2.4.11
packaging==17.1
paho-mqtt==1.3.1
path.py==11.0.1
pathlib2==2.3.2
pbr==4.0.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.1
prompt-toolkit==1.0.15
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
py-Asterisk==0.5.17
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycall==2.2
pycodestyle==2.3.1
pyflakes==1.6.0
-e git+https://github.com/onaio/floip-py.git@3bbf5c76b34ec49c438a3099ab848870514d1e50#egg=pyfloip
Pygments==2.2.0
PyJWT==1.6.4
pylibmc==1.5.2
pymongo==3.6.1
pyparsing==2.2.0
python-coveralls==2.9.1
python-dateutil==2.7.3
-e git+https://github.com/onaio/python-digest.git@3af1bd0ef6114e24bf23d0e8fd9d7ebf389845d1#egg=python_digest
-e git+https://github.com/onaio/python-json2xlsclient.git@62b4645f7b4f2684421a13ce98da0331a9dd66a0#egg=python_json2xlsclient
python-memcached==1.59
python-nvd3==0.15.0
python-slugify==1.2.5
pytz==2018.4
pyxform==0.11.2
PyYAML==3.13
raven==6.9.0
recaptcha-client==1.0.6
redis==2.10.6
requests==2.19.1
rfc3986==1.1.0
rq==0.12.0
rq-scheduler==0.8.3
rsa==3.4.2
savReaderWriter==3.4.2
scandir==1.9.0
simplegeneric==0.8.1
simplejson==3.15.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.8
sqlparse==0.2.4
stevedore==1.28.0
tableschema==1.1.0
tablib==0.12.1
tabulator==1.14.0
traceback2==1.4.0
traitlets==4.3.2
typing==3.6.4
unicodecsv==0.14.1
Unidecode==1.0.22
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.23
uWSGI==2.0.17
vine==1.1.4
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
xlrd==1.1.0
xlwt==1.3.0
