{% extends "helpline/base.html" %}
{% load i18n %}
{% load selectable_tags %}
{% include_jquery_libs %}
{% include_ui_theme %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navbar_nav %}
{% endblock navbar_nav %}

{% block box %}
<section class="content-header">
  <h1 style="text-transform: capitalize;">
    {{ loaded_form.name }} Form
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active">{{ form_name }}</li>
  </ol>
</section>
{% endblock box %}

{% block head %}
<link rel="stylesheet" href="{% static 'jquery-ui/themes/ui-lightness/jquery-ui.css' %}" type="text/css" />
<link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet" />
<script src="{% static 'jquery-ui/ui/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>
{% endblock head %}
{% block content %}

<style type="text/css">
audio{
  margin:-30px 10px;
}
</style>


<script type='text/javascript'>
  $(function(){
    $('select[name=sub_category]').empty();
    $('select[name=sub_category]').prepend('<option value="Not selected" selected disabled>Select Category...</option>');
    $('select[name=sub_sub_category]').empty();
    $('select[name=sub_sub_category]').prepend('<option value="Not selected" selected disabled>Select a Sub-Category...</option>');
  // called when category field changes from initial value
  $('select[name=category]').change(function(){

    if($("#id_category option:selected").text()) {
      category_id = $('select[name=category]').val();

      request_url = '/helpline/ajax/get_subcategory/' + category_id + '/';
      $.ajax({
        url: request_url,
        type: "GET",
        success: function(data){
          $('select[name=sub_category]').empty();
          $.each(data.data, function(key, value){
            $('select[name=sub_category]').append('<option value="' + value.chlsubcategory + '">' + value.chlsubcategory + '</option>');
          });
        }
      })
    }
  })
  $('select[name=sub_category]').change(function(){

    if($("#id_sub_category option:selected").text()) {
      sub_category_id = $('select[name=sub_category]').val();

      request_url = '/helpline/ajax/get_sub_subcategory/' + sub_category_id + '/';
      $.ajax({
        url: request_url,
        type: "GET",
        success: function(data){
          $('select[name=sub_sub_category]').empty();
          $.each(data.data, function(key, value){
            $('select[name=sub_sub_category]').append('<option value="' + value.chlsubsubcat + '">' + value.chlsubsubcat + '</option>');
          });
        }
      })
    }
  })
});
</script>

<script type="text/javascript">

  function saveContact(){
    var contact_form = '#contactDet';

    $.ajax({
      url: "{% url 'save_contact_form' %}",
      type: "POST",
      data: $("#contactDet").serialize(),
      success: function(data) {
        if (!(data['success'])) {
            // Here we replace the form, for the
            $(contact_form).replaceWith(data['form_html']);
          }
          else {
            // Here you can show the user a success message or do whatever you need
            //$(example_form).find('.success-message').show();
            $("#success-message").html("Success");
            alert("Contact saved");

          }
        },
        error: function () {
        //$(case_form).find('.error-message').show()
        $("#error-message").html("Error");
      }
    });
  }

  function disposeCase(param){
    var dispose_form = '#disposeDet';

    $.ajax({
      url: "{% url 'save_disposition_form' %}",
      type: "POST",
      data: $("#disposeDet").serialize(),
      success: function(data) {
        if (!(data['success'])) {
          $(dispose_form).replaceWith(data['form_html']);
        }
        else{
          closeOverlay();
        }
      },
      error: function() {
        $("#error-message").html("Error");
      }
    });
  }

  function closeOverlay(){
    top.window.location.href = '{% url "dashboard_home" %}';
  }


</script>
<!-- Modal -->
<div class="modal fade"  id="case_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <form action="" method="post">
        {% csrf_token %}
        <div class="modal-header bg-light-blue-active">
          <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
          <h4 class="modal-title" id="myModalLabel">{% trans "Form" %} > {{ form_name }} | Case ID 
            <span id="caseid">{{ case }}</span><span id="editedBadge"></span>
            <span class="pull-right" id="formTimer" style="font-size: 24px; color: #fff;">00:00:00</span>
            {% if form_name == 'qa' %}
            <span class="pull-right">
              <audio controls autoplay="autoplay">
                <source src="horse.ogg" type="audio/ogg" />
                <source src="http://soundbible.com/mp3/Tyrannosaurus%20Rex%20Roar-SoundBible.com-807702404.mp3" type="audio/mpeg" />
              </audio> 
            </span>
            {% endif %}
          <h4>

          </div>
          <div class="modal-body" style="padding: 0px; height: 80vh;" ><!-- -->
          <div id="frame_iframes">
            <div id="frame-contact" class="{% if form_name == 'webonline' or form_name == 'qa' %} hidden {% endif %}" >


              <section class="content" style="background-color: #fff;">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="modal-body" style="padding: 0px;"><!-- height: 80vh; -->


                      <section class="invoice">
                        <div id="contact-search" class={% if form_name == 'call' %} hidden {% endif %}>
                          <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6 col-md-12 contact-search">
                              <p class="lead">Contact Search:</p>
                              <div class="text-muted well well-sm no-shadow">
                                <!-- form start -->
                                <form role="form">
                                  {% csrf_token %}
                                  <div class="box-body">
                                    <div class="form-group">
                                      <label for="contactTel">Telephone Number</label>
                                      <input type="tel" class="form-control" id="contactTel" placeholder="Enter telephone number">
                                    </div>
                                    <div class="form-group">
                                      <label for="contactName">Name</label>
                                      <input type="text" class="form-control" id="contactName" placeholder="Contact Name">
                                    </div>
                                  </div>
                                  <!-- /.box-body -->

                                  <div class="box-footer" style="background-color: transparent;">
                                    <button type="button" class="btn btn-primary" onclick="$('.contact-search').removeClass('col-md-12');$('.contact-results').removeClass('hidden');">Search Contact</button>
                                    <button type="button" class="btn btn-primary pull-right" onclick="$('#contact-search').addClass('hidden');$('.contact-cases').removeClass('hidden');">New Reporter</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-6 contact-results hidden">
                              <p class="lead">Contact Search Results</p>

                              <div class="table-responsive text-muted well well-sm no-shadow" style="min-height: 242px;">
                                <table class="table table-responsive">
                                  <tr>
                                    <th style="width:5px;">#</th>
                                    <th style="width:40%;" align="left">Name</th>
                                    <th style="width:40%;" align="left">Contact</th>
                                    <th style="width:16%;" align="left">Action</th>
                                  </tr>
                                  <tr>
                                    <td>1.</td>
                                    <td><a href="javascript:void(0)" onclick="$('#contact-search').addClass('hidden');$('.contact-cases').removeClass('hidden');">Kemboi Cheruiyot</a></td>
                                    <td>072324343434</td>
                                  </tr>
                                  <tr>
                                    <td>2.</td>
                                    <td><a href="javascript:void(0)" onclick="$('#contact-search').addClass('hidden');$('.contact-cases').removeClass('hidden');">Kemboi Cheru</a></td>
                                    <td>072333332222</td>
                                  </tr>
                                  <tr>
                                    <td>3.</td>
                                    <td><a href="javascript:void(0)" onclick="$('#contact-search').addClass('hidden');$('.contact-cases').removeClass('hidden');">Cheru Kemboi</a></td>
                                    <td>0723444344232</td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>


                        <!-- Table row -->
                        <div class="contact-cases {% if form_name == 'walkin' %} hidden {% endif %}">

                          <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6 contact-search">
                              <p class="lead">Reporter Details: {{ contact.hl_contact }}</p>
                              <div class="text-muted well well-sm no-shadow">
                                <!-- form start -->
                                  <div class="box-body">
                                    <div class="row">

            {% crispy contact_form contact_form.helper %}

                                    </div>
                                  </div>
                                  <!-- /.box-body -->

                                  <div class="box-footer" style="background-color: transparent;">
                                    <button type="button" class="btn btn-primary pull-right btn-lg btn-flat" onclick="saveContact();$('.contact-search').removeClass('col-md-12');$('#frame-contact').addClass('hidden');$('#frame_iframe').removeClass('hidden');">Next</button->
                                      <!--button type="button" class="btn btn-primary" onclick="$('.invoice').addClass('hidden'); $('iframe').removeClass('hidden'); "><a style="padding-bottom: 10px; padding-top:10px;" tabindex="-1" href="#case_form_modal" data-keyboard="false" data-backdrop="static" class="btn btn-lg btn-primary btn-flat pull-right" role="button" data-toggle="modal">{% trans 'Next' %} </a-->
                                      </div>
                                  </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-6 contact-results">
                                  <p class="lead">Historical Cases</p>

                                  <div class="table-responsive text-muted well well-sm no-shadow" style="min-height: 242px;">
                                    {% if case %}
                                    {% load django_tables2 %}
                                    {% render_table case_history_table %}
                                    {% endif %}
                                  </div>
                                </div>
                                <!-- /.col -->
                              </div>
                              <!-- /.row -->
                            </div>

                            <!-- this row will not appear when printing -->
                          </section>

                          <!--iframe src="https://enketo.bitz-itc.com/i/::Bkyb35PE" style="width: 100%; min-height: 80vh; border: none;"></iframe {{ iframe_url }}https://enketo.bitz-itc.com/i/::P6SEqt57-->
                        </div>
                      </div>
                    </div>
                  </section>


                </div>
                <div id="frame_iframe"  class="{% if form_name != 'webonline' and form_name != 'qa' %} hidden {% endif %}">
                  <iframe src="{{ iframe_url }}" style="width: 100%; height: 80vh; border: none;"></iframe>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>



<!--END FORMs-->

</div>
<script>
  window.addEventListener("message", receiveMessage, false);

  function receiveMessage(event)
  {
      if (event.origin !== "{{ enketo_url }}")
        return;
        var resp = JSON.parse(event.data)
      if(resp.enketoEvent == 'submissionsuccess'){
      window.location.assign({% url "dashboard_home" %});
    }
  }
</script>
{% endblock content %}
