{% extends 'helpline/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block box %}
{% endblock box %}
{% block treeview_reports %}active{% endblock treeview_reports %}

{% block navbar_nav %}
<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bookmark"></i>{% trans "Average Talk Time" %}: {{ dashboard_stats.att.hours }}:{{ dashboard_stats.att.min }}:{{ dashboard_stats.att.seconds }}
  </a>
</li>
<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bookmark"></i>{% trans "Average Wait Time" %}: {{ dashboard_stats.awt.hours }}:{{ dashboard_stats.awt.min }}:{{ dashboard_stats.awt.seconds }}
  </a>
</li>

<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-clock-o"></i>  <span id="clock">0:00 AM</span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">
      {% if request.user.chlusers.chlstatus == 'Busy' %}
      <a href="{% url 'queue_log' %}"><i class="fa fa-circle text-danger"></i> {% trans "Busy" %}</a>
      {% elif request.user.chlusers.chlstatus == 'Idle' %}
      <a href="{% url 'queue_log' %}"><i class="fa fa-exclamation-triangle text-warning"></i> {% trans "Idle" %}</a>
      {% elif request.user.chlusers.chlstatus == 'Available' %}
      <a href="{% url 'queue_log' %}"><i class="fa fa-circle text-success"></i> {% trans "Online" %}</a>
      {% elif request.user.chlusers.chlstatus == 'OnCall' %}
      <a href="{% url 'queue_log' %}"><i class="fa fa-circle text-danger"></i> {% trans "OnCall" %}</a>
      {% endif %}
      <span id="durations"></span>
    </li>
    <li class="footer">
    </li>
  </ul>
</li>

{% endblock navbar_nav %}

{% block content %}
<style>
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
</style>
<section class="content-header">
  <h1>
    {% trans "REPORT" %} <i class="fa fa-angle-right"></i> {{ title }}
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <!--h3 class="box-title">Filter Parameters:</h3-->

          <div class="col-md-12 report-filters">
            {% load django_tables2 %}
            <div id="form_collapse" class="in" style="height: auto;">
              {% block filterform %}
              <!-- Filter Form -->
              <form action="">
                <!-- Date and time range -->
                <script>
                  $(function() {
                    $('#datetimerange').daterangepicker({
                     opens: 'left',
                     timePicker: true,
                     locale: {
                      format: 'DD/MM/YYYY h:mm A'
                    }
                  }, function(start, end, label) {
                   console.log("A new date selection was made: " + start.format('M/DD hh:mm A') + ' to ' + end.format('M/DD hh:mm A'));
                 });
                  });
                </script>
                <div class="form-group col-md-4" style="padding-left: 0px;">
                    <label>{% trans "Choose Date and time Range" %}:</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    {{ form.datetime_range }}
                  </div><!-- /.input group -->
                </div><!-- /.form group -->
                <div class="form-group col-md-4">
                    <label>{% trans "Agent" %}:</label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-users"></i>
                    </div>
                    {{ form.agent }}
                  </div><!-- /.input group -->
                </div><!-- /.form group -->

                {{ form.queueid }}
                <br>
                <div class="form-group col-md-4">
                  <div class="input-group pt-20">
                    <input type="submit" value="Fetch Reports" id="total-calls-search-btn" class="btn btn-success btn-sm btn-flat">
                  </div><!-- /.input group -->
                </div>
              </form>
              <!-- End Filter Form -->
            </div>
            {% endblock filterform %}
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="scrollmenu col-md-6">

              <!-- DONUT CHART -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Disposition Distribution</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <canvas id="pchart" style="height:300px"></canvas>
                </div>

                <!-- /.box-body -->
              </div>
              <!-- /.box -->

            </div>
            <div class="col-md-6">
              <div>
              {% for ds in d_data %}
                <span style="min-width:19%;color:#fff;background-color: {{ds.color}};float:left;padding:3px 4px !important;margin:2px 1px;">{{ds.label}}</span>
              {% endfor %} 
              </div>
              <div style="clear: left;"><label class="lbl lbl-success">Keys</label></div>          
            </div>

            <div class="col-md-12" style="margin-bottom: 20px; padding-bottom:50px;">
              <div class="pull-right" style="height: 10px;"><audio id="qa_audio" controls ></audio> </div>
            </div>
            <!-- <div class="scrollmenu col-md-6">
              <!-- LINE CHART ->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Disposition Trend</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="chart">
                    <canvas id="lineChart" style="height:250px"></canvas>
                  </div>
                </div>
                <!-- /.box-body ->
              </div>
              <!-- /.box ->
            </div> -->
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="box-body">
          <div class="row">
            <div class="scrollmenu col-md-12">
                <div>
                  <table id="example1" class="table datatable">
                    <thead>
                      <th>#</th>
                      <!-- <th>Case ID</th>-->
                      <th>Case Number</th>
                      <th>Agent</th>
                      <th>Source</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Listen</th>
                    </thead>
                    <tbody>
                      {% for rep in report_data %}
                        <tr>
                          <td>{{ forloop.counter}}.</td>
                          <!-- <td>{{rep.caseid | default:''}}</td> -->

                          <td>{{rep.case_number | safe}}</td>
                          <td>{{agents | get_item:rep.case_agent}}</td>
                          <td>{{rep.case_source}}</td>
                          <td>{{rep.case_disposition}}</td>
                          <td>{{rep.case_time}}</td>
                          <th><button class="listen" data-listen="{{rep.case_cdr}}" onclick="listen(this)"><i class="fa fa-volume-up"></i> Listen</button></th>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <th>#</th>
                      <!-- <th>Case ID</th>-->
                      <th>Case Number</th>
                      <th>Agent</th>
                      <th>Source</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Listen</th>
                    </tfoot>
                    
                  </table>
                </div>
              <!--div id="showustheresultsnow">
                <div class="col-md-4">
                  {% for format in table.export_formats %}
                  <a class="btn btn-app"  href="{% querystring '_export'=format %}">
                    <i class="fa fa-save"></i> <strong>{% trans "Export" %} .{{ format }}</strong>
                  </a>
                  {% endfor %}
                </div>
                {% if table %}
                {% render_table table %}
                {% endif %}
              </div>
            </div-->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- ./box-body -->
    </div>
  </div>
</section>


{% endblock content %}
{% block script_end %}

<script type="text/javascript">
  function sendtoReportFactory(){
    var reservationtime = document.getElementById("datetimerange").value;
    var queueid = document.getElementById("id_queueid").value;
    var agent = document.getElementById("agent").value;
    var c = document.getElementById("showustheresultsnow");
    var query = document.getElementById("navbar-search-input").value;
    //c.innerHTML = '<div align="center">Loading Report.. ';
    $("#showustheresultsnow").fadeIn("slow");
    $("#showustheresultsnow").load("{% url 'ajax_admin_report' report %}?datetime_range="+ encodeURIComponent(reservationtime) +'&sevc='+ encodeURIComponent(queueid) +'&agent='+ encodeURIComponent(agent)+'&q='+ encodeURIComponent(query));  


    }



    //-------------
    //- LINE CHART -
    //--------------
    var lineChartOptions = {
      //Boolean - If we should show the scale at all
      showScale: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: false,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - Whether the line is curved between points
      bezierCurve: true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension: 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot: false,
      //Number - Radius of each point dot in pixels
      pointDotRadius: 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth: 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius: 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke: true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth: 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill: true,
      //String - A legend template
      legendTemplate: '<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){\%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){\%><%=datasets[i].label%><\%}%></li><\%}%></ul>',
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true
    };

    // var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    // var lineChart = new Chart(lineChartCanvas);

    var lineData = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "Electronics",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
          label: "Digital Goods",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(60,141,188,0.8)",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: [28, 48, 40, 19, 86, 27, 90]
        }
      ]
    };
    // lineChartOptions.datasetFill = false;
    // lineChart.Line(lineData, lineChartOptions); 


       /*
   * Custom Label formatter
   * ----------------------
   */
  
  //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $("#pchart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas);
    var PieData = {{ d_data|safe }} /*[
      {
        value: 700,
        color: "#f56954",
        highlight: "#f56954",
        label: "Chrome"
      },
      {
        value: 500,
        color: "#00a65a",
        highlight: "#00a65a",
        label: "IE"
      },
      {
        value: 400,
        color: "#f39c12",
        highlight: "#f39c12",
        label: "FireFox"
      },
      {
        value: 600,
        color: "#00c0ef",
        highlight: "#00c0ef",
        label: "Safari"
      },
      {
        value: 300,
        color: "#3c8dbc",
        highlight: "#3c8dbc",
        label: "Opera"
      },
      {
        value: 100,
        color: "#d2d6de",
        highlight: "#d2d6de",
        label: "Navigator"
      }
    ];*/
    var pieOptions = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke: true,
      //String - The colour of each segment stroke
      segmentStrokeColor: "#fff",
      //Number - The width of each segment stroke
      segmentStrokeWidth: 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps: 100,
      //String - Animation easing effect
      animationEasing: "easeOutBounce",
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate: true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale: false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){\%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){\%><%=segments[i].label%><\%}%></li><\%}%></ul>"
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    pieChart.Doughnut(PieData, pieOptions);


    /*
     * DONUT CHART
     * -----------
     */

     ////listen
     var listen = function(ev){
        var audi = document.getElementById('qa_audio')
        if($(ev).data('listen') != ''){
          audi.setAttribute('src', '{% setting 'CALL_API_URL' %}/clk/cdr/?media=' + $(ev).data('listen'));
          audi.play();
        }

       }

</script>
{% endblock script_end  %}
