{% extends 'helpline/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block box %}
{% endblock box %}
{% block navbar_nav %}

{% endblock navbar_nav %}

{% block content %}

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Inbox</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive mailbox-messages">
              	<table id="example1" class="table table-bordered table-striped dataTable">
              		<thead class="hidden">
                    <tr>
                      <th>#</th>
                      <th>#</th>
                      <th>#</th>
                      <th>#</th>
                      <th>#</th>
                      <th>#</th>
                      <th>#</th>
                    </tr>
              		</thead>
              		<tbody>
              			{% for mess in data_messages %}
              			<tr>
              				<td><input type="checkbox" /></td>
              				<td class="mailbox-name"> <a href="read-mail.html">{{ mess.email_from }}</a> </td>
              				<td class="mailbox-subject"> <b>{{ mess.email_subject }}</b> <td>
              				<td class="mailbox-date">{{ mess.email_date}} </td>
                      <td>{{ mess.email_case }}</td>
              				<td class="mailbox-date"> Reply  {%  if mess.email_case == 0 %}| <a href='{% url "case_form" "email" %}?sourceid={{mess.pk}}'>Create Case</a> {% endif %}</td>
              			</tr>
              			{% endfor %}
              		</tbody>
              	</table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <!--div class="box-footer no-padding">
              <div class="mailbox-controls">
                <!-- Check all button ->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                </div>
                <!-- /.btn-group ->
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group ->
                </div>
                <!-- /.pull-right ->
              </div>
            </div-->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
