{% extends 'helpline/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}

{% block content %}


<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- /.box-footer -->
      {% block box %}
      <!--section class="content-header">
        <h1>Dashboard</h1>
      </section-->
      <div class="box-body">

        <div class="row">

          <div class="col-md-8" >
            <div class="row home-pallete">
              <div class="col-sm-4 col-md-2 palette-item">
                <div class="color-palette-set">
                  <div class="bg-blue color-palette" align="center" onclick="window.location = '{% url 'dashboardreports' 'totalcalls' %}?datetime_range={{ dashboard_stats.midnight_string }} - {{ dashboard_stats.now_string }}'"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.total_calls }} </span><br>{% trans "Total Calls" %}</div>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-md-2 palette-item">
                <div class="color-palette-set">
                  <div class="bg-aqua color-palette" align="center" style="padding-right:5px; padding-bottom:5px;" onclick="window.location = '{% url 'dashboardreports' 'answeredcalls' %}?datetime_range={{ dashboard_stats.midnight_string }} - {{ dashboard_stats.now_string }}'"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.answered_calls }}</span><br>{% trans "Answered Calls" %}</div>
                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-md-2 palette-item">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  {% if request.user.HelplineUser.hl_role == 'Supervisor' %}
                  <div class="bg-red color-palette" align="center" style="padding-right:5px; padding-bottom:5px;"  onclick="window.location = '{% url 'dashboardreports' 'abandonedcalls' %}?datetime_range={{ dashboard_stats.midnight_string }} - {{ dashboard_stats.now_string }}'"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.abandoned_calls }} </span><br>{% trans "Abandoned Calls" %}</div>
                  {% else %}
                  <div class="bg-red color-palette" align="center" style="padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.missed_calls }} </span><br>{% trans "Missed Calls" %}</div>
                  {% endif %}

                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-md-2 palette-item" onclick="window.location = '{% url 'dashboardreports' 'voicemails' %}?datetime_range={{ dashboard_stats.midnight_string }} - {{ dashboard_stats.now_string }}'">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  <div class="bg-yellow color-palette" align="center" style="padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.voice_mails }} </span><br>{% trans "Voice Mails" %}</div>
                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-md-2 palette-item">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  <div class="bg-gray color-palette" align="center" style="padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.number_tickets }}</span><br>{% trans "Mails" %}</div>
                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-md-2 palette-item">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  <div class="bg-gray color-palette" align="center" style=" padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.total_sms }}</span><br>SMS</div>
                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              <!-- /.col -->
            </div>
          </div>
          <div class="col-md-4 qa-presence">
            <div class="row">
              <div class="{% if request.user.HelplineUser.hl_role == 'Supervisor' %} col-sm-6 col-md-6 {% else %} col-sm-12 col-md-12 {% endif %}">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  <div class="bg-aqua color-palette" align="center" style="border-radius:0px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.total_sms }} %</span><br /><br />    </div>
                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              {% if request.user.HelplineUser.hl_role == 'Supervisor' %}
              <div class="col-sm-6 col-md-6">

                <!--div class="color-palette-set" style="border:solid thin #09F; padding:2px;" align="center">
                  <div class="bg-green disabled color-palette" style="height:30px;"><span>{{ status_count.available }} Available | {% widthratio status_count.available  status_count.total 100 %}%</span></div>
                  <div class="bg-yellow-active color-palette" style="height:30px;"><span>{{ status_count.idle }} Idle | {% widthratio status_count.idle  status_count.total 100 %}%</span></div>
                  <div class="bg-red-active color-palette" style="height:30px;"><span>{{ status_count.busy_on_call }} Busy | {% widthratio status_count.busy_on_call  status_count.total 100 %}%</span></div>
                </div-->

                    <div class="box-body no-padding">
                      <table class="table table-condensed" onclick="window.location = '{% url 'web_presence' %}'">
                        <tbody>
                          <tr class="bg-green-active color-palette">
                            <td width="56"><strong>Available </strong></td>
                            <td width="29"><span class="badge bg-blue">{{ status_count.available }}</span></td>
                            <td width="29"><span class="badge bg-blue">{% widthratio status_count.available  status_count.total 100 %}%</span></td>
                          </tr>
                          <tr class="bg-yellow-active color-palette">
                            <td><strong>Idle </strong></td>
                            <td><span class="badge bg-blue">{{ status_count.idle }}</span></td>
                            <td><span class="badge bg-blue">{% widthratio status_count.idle  status_count.total 100 %}%</span></td>
                          </tr>
                          <tr class="bg-red-active color-palette">
                            <td><strong>Busy </strong></td>
                            <td><span class="badge bg-blue">{{ status_count.busy_on_call }}</span></td>
                            <td><span class="badge bg-blue">{% widthratio status_count.busy_on_call  status_count.total 100 %}%</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div> 
                    
                    
                    
                  </div>
                  {% endif %}
                  <!-- /.col -->
                </div>
                {% endblock box %}
                <!-- ./box-body -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row homedashboard">
              <div class="col-md-12">
<div class="row">
  <!-- Left col -->
  <!-- /.col -->

  <div class="col-md-9 long">

    <div class="row">
      <div class="col-md-5 col-sm-12 ">
        <div class="home-panel" style=" min-height: 406px;">
          <div class="box-header with-border">
            <h3 class="box-title">{% trans "Consolidated View" %}</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="">
            <div class="content-panel">
              <h4><i class="fa fa-users"></i> {% trans "Agents" %}: <span id="total_agent" class="label label-default">0</span></h4><hr><table class="table table-striped table-advance table-hover" id="agents">
                <thead>
                  <tr>
                    <th><i class="fa fa-user"></i> {% trans "Queue" %}</th>
                    <th><i class="fa fa-user"></i> {% trans "Name" %}</th>
                    <th><i class="fa fa-plug"></i> {% trans "Interface" %}</th>
                    <th><i class=" fa fa-question-circle "></i> {% trans "Status" %}</th>
                    <th><i class="fa fa-bookmark"></i> <span data-toggle="tooltip" data-placement="left" title="Attend calls"> {% trans "Calls" %}</span></th>
                    <th><i class="fa fa-clock-o"></i> {% trans "Last call at" %}</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12" style="padding-left: 0px;">
        <div class="home-panel" style=" min-height: 406px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Consolidated View</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            <!-- /.box-header -->

                <div class="box-body">
                    <div class="content-panel">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Callers: <span id="total_callers" class="label label-default">0</span></h4><hr><table class="table table-striped table-advance table-hover" id="callers">

                              <thead>
                              <tr>
                                  <th><i class="fa fa-user"></i> Id Name</th>
                                  <th class="hidden-phone"><i class="fa fa-phone"></i> Id Number</th>
                                  <th><i class="fa fa-sort-numeric-asc"></i> Position</th>
                                  <th><i class="fa fa-clock-o"></i> Wait</th>
                              </tr>
                              </thead>
                              <tbody>

                          </tbody></table>
                      </div><!-- /content-panel -->
                      </div>
               </div>
            
        </div>
      </div>
    </div>


  </div>
  <!-- /col-md-9 -->
  <div class="col-md-3 short">
    <!-- Info Boxes Style 2 -->
    <div class="info-box bg-green">
      <span class="info-box-icon"><i class="ion ion-checkmark"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{% trans "Closed Cases" %}</span>
        <span class="info-box-number">{{ dashboard_stats.closed_cases|intcomma }}</span>

        <div class="progress">
          <div class="progress-bar" style="width: {% widthratio dashboard_stats.closed_cases dashboard_stats.total_cases 100 %}%"></div>
        </div>
        <span class="progress-description">
          {% widthratio dashboard_stats.closed_cases dashboard_stats.total_cases 100 %}% {% trans "Closed Cases" %}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    <div class="info-box bg-yellow">
      <span class="info-box-icon"><i class="ion ion-ios-flag" md="md-flag"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{% trans "Escalated Cases" %}</span>
        <span class="info-box-number">{{ dashboard_stats.closed_cases|intcomma }}</span>

        <div class="progress">
          <div class="progress-bar" style="width: {% widthratio dashboard_stats.referred_cases dashboard_stats.total_cases 100 %}%"></div>
        </div>
        <span class="progress-description">
          {% widthratio dashboard_stats.referred_cases dashboard_stats.total_cases 100 %}% {% trans "Escalated Cases" %}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    <div class="info-box bg-red">
      <span class="info-box-icon"><i class="ion-ios-clock-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{% trans "Critical Cases" %}</span>
        <span class="info-box-number">{{ dashboard_stats.open_cases|intcomma }}</span>

        <div class="progress">
          <div class="progress-bar" style="width: {% widthratio dashboard_stats.open_cases dashboard_stats.total_cases 100 %}%"></div>
        </div>
        <span class="progress-description">
          {% widthratio dashboard_stats.open_cases dashboard_stats.total_cases 100 %}% {% trans "Critical Cases" %}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    <div class="info-box bg-aqua">
      <span class="info-box-icon"><i class="ion-ios-clock-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{% trans "Pending Cases" %}</span>
        <span class="info-box-number">{{ dashboard_stats.open_cases|intcomma }}</span>

        <div class="progress">
          <div class="progress-bar" style="width: {% widthratio dashboard_stats.open_cases dashboard_stats.total_cases 100 %}%"></div>
        </div>
        <span class="progress-description">
          {% widthratio dashboard_stats.open_cases dashboard_stats.total_cases 100 %}% {% trans "Pending Cases" %}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->

  </div>
  <!-- /.col -->
</div>
</div>
</div>

</section>
<!-- /.content -->
{% endblock content %}
