{% extends "helpline/base.html" %}
{% load selectable_tags %}
{% include_jquery_libs %}
{% include_ui_theme %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block box %}
<section class="content-header">
      <h1>
        Case Registration
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">{{ form_name }}</li>
      </ol>
    </section>
{% endblock box %}

{% block head %}
    <link rel="stylesheet" href="{% static 'helpline/css/ui/1.10.4/themes/ui-lightness/jquery-ui.css' %}" type="text/css" />
    <link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script src="{% static 'helpline/js/ui/1.10.4/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>
{% endblock head %}
{% block content %}

<script>
  $(function() {
    $('#caseDet').areYouSure(
      {
        message: 'It looks like you have been editing something. '
               + 'If you leave before saving, your changes will be lost.'
      }
    );
  });

</script>


<script type='text/javascript'>
$(function(){
  $('select[name=sub_category]').empty();
  $('select[name=sub_category]').prepend('<option value="Not selected" selected disabled>Select Category...</option>');
  $('select[name=sub_sub_category]').empty();
  $('select[name=sub_sub_category]').prepend('<option value="Not selected" selected disabled>Select a Sub-Category...</option>');
  // called when category field changes from initial value
  $('select[name=category]').change(function(){

    if($("#id_category option:selected").text()) {
    category_id = $('select[name=category]').val();

    request_url = '/helpline/ajax/get_subcategory/' + category_id + '/';
      $.ajax({
        url: request_url,
        type: "GET",
        success: function(data){
          $('select[name=sub_category]').empty();
          $.each(data.data, function(key, value){
            $('select[name=sub_category]').append('<option value="' + value.chlsubcategory + '">' + value.chlsubcategory + '</option>');
          });
        }
      })
    }
  })
  $('select[name=sub_category]').change(function(){

    if($("#id_sub_category option:selected").text()) {
    sub_category_id = $('select[name=sub_category]').val();

    request_url = '/helpline/ajax/get_sub_subcategory/' + sub_category_id + '/';
      $.ajax({
        url: request_url,
        type: "GET",
        success: function(data){
          $('select[name=sub_sub_category]').empty();
          $.each(data.data, function(key, value){
            $('select[name=sub_sub_category]').append('<option value="' + value.chlsubsubcat + '">' + value.chlsubsubcat + '</option>');
          });
        }
      })
    }
  })
});


$('.iframe').on('load',function(){$(this).height($(this).contents().outerHeight());});
</script>
<section class="content">
<div class="">
  <div class="box box-info" style="{% if loaded_form.name == 'qa' %} min-height: 5350px; {% else %} min-height: 1200px; {% endif %}">
    <div class="col-sm-9">
      <iframe src="{{ loaded_form.url }}" style="width: 100%; border: none; {% if loaded_form.name == 'qa' %} min-height: 5300px; {% else %} min-height: 1200px; {% endif %}"></iframe>
    </div>
    <div class="col-md-3" >
    </div>
    <!--div class="box-header with-border">
        <h3 class="box-title">Case Number: {{ initial.case_number }}   Reporter: {{ initial.caller_name }}</h3>
    </div>
          <div class="box-tools pull-right">
            {% crispy disposition_form %}
          </div>
    <div class="row">
        <div class="col-sm-8">
            {% if message %}<div class="alert alert-info alert-dismissible">{{ message }}</div>{% endif %}
            <div id="form_html">{% crispy form form.helper %}</div>

        </div>
            {% if contact %}
            <div class="col-md-4">
                <div style="box box-warning">
                    <div class="box-body">
                        <h5 style="width:100%; border-bottom:solid thin #CCC;"><strong>Previous Cases</strong></h5>
                        <div style="padding:3px;">
                        {% load django_tables2 %}
                        {% render_table case_history_table %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
          </div-->
    </div>
</div>
</section>


<script type="text/javascript">

function saveCase(){
var case_form = '#caseDet';

$.ajax({
    url: "{% url 'save_call_form' %}",
    type: "POST",
    data: $("#caseDet").serialize(),
    success: function(data) {
        if (!(data['success'])) {
            // Here we replace the form, for the
            $(case_form).replaceWith(data['form_html']);
        }
        else {
            // Here you can show the user a success message or do whatever you need
            //$(example_form).find('.success-message').show();
            $("#success-message").html("Success");
        }
    },
    error: function () {
        //$(case_form).find('.error-message').show()
        $("#error-message").html("Error");
    }
});
}

function disposeCase(param){
    var dispose_form = '#disposeDet';

    $.ajax({
        url: "{% url 'save_disposition_form' %}",
        type: "POST",
        data: $("#disposeDet").serialize(),
        success: function(data) {
            if (!(data['success'])) {
                    $(dispose_form).replaceWith(data['form_html']);
                }
            else{
                closeOverlay();
            }
        },
        error: function() {
            $("#error-message").html("Error");
        }
    });
}

function closeOverlay(){
    top.window.location.href = '{% url "dashboard_home" %}';
    }


</script>
{% endblock content %}
