{% extends 'helpline/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block box %}
{% endblock box %}
{% block navbar_nav %}

{% endblock navbar_nav %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% trans "REPORT" %}
        <small>13 {{ title }} New Messages</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">SMS</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Case Number</th>
                  <th>Reporter</th>
                  <th>Counsellor</th>
                  <th>Caller Time</th>
                  <th>Call Duration</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1. </td>
                  <td><a href="">243546</a></td>
                  <td>Kemboi Cheruiyot</td>
                  <td>Fary Maa</td>
                  <td>10:32</td>
                  <td>00:001:23</td>
                  <td><a href="{% url 'case_form' 'qa' %}"><i class="fa fa-volume-up"></i> Ananlyse</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Case Number</th>
                  <th>Reporter</th>
                  <th>Counsellor</th>
                  <th>Caller Time</th>
                  <th>Call Duration</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->

{% endblock %}