{% load i18n %}
{% load django_tables2 %}
{% if table %}
{% render_table table %}
{% endif %}
                              <div class="col-md-4">
                              {% for format in table.export_formats %}
                            <a class="btn btn-app"  href="{% querystring '_export'=format %}">
                             <i class="fa fa-save"></i> <strong>{% trans "Export" %} .{{ format }}</strong>
                            </a>
                            {% endfor %}
							</div>

