{% extends 'helpline/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Helpline
        <small>System Users</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">System Users</li>
      </ol>
    </section>

    <style>
        table tr td{
         max-width:150px !important;
        }
        table tr td img{
        max-width:50px !important;
        }
    </style>


    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <a href="{% url 'new_user' %}" class="btn btn-success pull-right" style="border-radius: 0px;">{% trans 'New User' %}</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% if messages %}
              <div class="alert alert-info">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
              </div>
              {% endif %}
            <div>
          </div>

              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Avatar</th>
                  <th>Name</th>
                  <th>Pseudo Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>User Role</th>
                  <th>Status</th>
                  <th>Date Created</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  {% for user in systemusers %}
                    <tr>
                      <td>{{ forloop.counter }}.</td>
                      <td><img src="{{ user.HelplineUser.hl_avatar | default:'/media/blank-avatar.png' }}" height="50px" alt="{{ user.HelplineUser.hl_avatar | default:'/media/blank_avatar.png'}}" /></td>
                      <td>{{user.HelplineUser.hl_names | default:user.first_name}}</td>
                      <td>{{ user.HelplineUser.hl_nick | default:'' }}</td>
                      <td>{{ user.HelplineUser.hl_email | default:'' }}</td>
                      <td>{{ user.HelplineUser.hl_phone | default:'' }}</td>
                      <td>{{ user.HelplineUser.hl_role | default:'' }}</td>
                      <td>{{ user.HelplineUser.hl_status | default:'' }}</td>
                      <td>{{ user.HelplineUser.hl_time | default:0 | timestamp | date:"d M, Y" }}</td>
                      <td><a href="{% url 'manageusers' 'delete' user.HelplineUser.hl_key %}" onClick=" if(!confirm('Are you sure you want to delete this user?'))return false;else''">Delete </a> | <a href="{% url 'manageusers' 'edit' user.HelplineUser.hl_key %}">Edit</a> | <a href="javascript:void(0)"data-link="{% url 'manageusers' 'reset' user.HelplineUser.hl_key %}" onclick="reset_pass(this)">Reset Password</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>#</th>
                  <th>Avatar</th>
                  <th>Name</th>
                  <th>Pseudo Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>User Role</th>
                  <th>Status</th>
                  <th>Date Created</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  {% endblock content %}
  {% block script_end %}
  <script type="text/javascript">
    var reset_pass = function(event){

      $.post($(event).data('link'),{'csrfmiddlewaretoken': '{{ csrf_token }}'}).success(function(response){
        $(event).before('<div class="alert alert-success reset_pass">' + response + '</div>')
      }).error(function(response){
        $(event).before('<div class="alert alert-danger reset_pass">' + response + '</div>')
      })

      var reset_pass = setInterval(function(){
        $('.reset_pass').remove()
      },3000)
    }
  </script>

  {% endblock script_end %}