{% extends "helpline/helpline/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %} 

<meta http-equiv="refresh" content="300" />

<script type="text/javascript">

  $(document).ready(function(){
    setInterval(function(){
        window.location.reload()
     },10000)    })
</script>
{% endblock head %}
{% block content %}

<style>
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #EDF1F0;
}
.info-box-text {
	font-size:16px;
}
.description-text{
	font-size:16px;
}
.info-box-number
{
	font-size:24px;
}
.description-header
{
	font-size:24px;
}
.content .row .col-md-12 .box .box-body .row .col-sm-3.col-xs-6 .description-block .description-header {
	font-size: 24px;
}

.color-palette-set
{
	text-transform: uppercase;
}

.oncall{
  color: blue !important;
}
.online{
  color: green !important;
}
.offline{
  color: red !important;
}
.wrapup{
  color: orange !important;
}
.unavailable{
  color: black !important;
}
</style>

<!-- Left side column. contains the logo and sidebar -->


<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) ->
<section class="content-header">

  <h1 style="text-align:right;">
    <script>
      function date_time(id)
      {
        date = new Date;
        year = date.getFullYear();
        month = date.getMonth();
        months = new Array('Jan,', 'Feb,', 'Mar,', 'Apr,', 'May,', 'Jun,', 'Jul,', 'Aug,', 'Sep,', 'Oct,', 'Nov,', 'Dec,');
        d = date.getDate();
        day = date.getDay();
        days = new Array('Sun,', 'Mon,', 'Tue,', 'Wed,', 'Thur,', 'Fri,', 'Sat,');
        h = date.getHours();
        if(h<10)
        {
          h = "0"+h;
        }
        m = date.getMinutes();
        if(m<10)
        {
          m = "0"+m;
        }
        s = date.getSeconds();
        if(s<10)
        {
          s = "0"+s;
        }
        result = ''+days[day]+' '+months[month]+' '+d+', '+year+' '+h+':'+m+':'+s;
        document.getElementById(id).innerHTML = result;
        setTimeout('date_time("'+id+'");','1000');
        return true;
      }



    </script>
    <div style="float:left; padding:15px; font-size:30px; ">
      <i class="fa fa-clock-o"> <span id="date_time" style="font-family: 'Source Sans Pro',sans-serif;"></span>
        <script type="text/javascript">window.onload = date_time('date_time');</script></i> 
      </div>

      <a href="{% url "dashboard_home" %}" >
        <img src="{% static "helpline/images/liaison-logo.jpg" %}" alt=""  />
      </a>
    </h1>
  </section>


  <!-- Main content -->
  <section class="content" style="border:solid thin #0BE3F4; background:#EAFAFD; margin:5px;">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-blue"><i class="ion ion-ios-telephone-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Total <br /> Calls</span>
            <span class="info-box-number">{{call.calls | default:0 }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="ion ion-ios-telephone-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Calls <br />Abandoned</span>
            <span class="info-box-number">{{call.abandoned | default:0 }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="ion ion-ios-telephone-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Calls <br /> Recieved</span>
            <span class="info-box-number">{{call.answered | default:0 }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="ion ion-ios-telephone-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Voice<br />Mails</span>
            <span class="info-box-number">{{call.voicemail | default:0 }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="ion ion-ios-telephone-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Calls <br /> In Queue</span>
            <span class="info-box-number" id="total_callers"></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="ion ion-ios-telephone-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Calls <br /> Completed</span>
            <span class="info-box-number">{{ dashboard_stats.answered_calls }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->



    <div class="box box-info" style="border-radius:0px; padding-right:5px;">
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <h3 class="box-title">{% trans "Counsellors" %}<small><em>Offline: {{ call.agents.offline}} | On Call: {{call.agents.oncall}} | Online: {{ call.agents.online}} | On Wrapup: {{ call.agents.wrapup}} </em></h3>
            <div class="table-responsive">
              <table class="table no-margin" id="agents">
                <thead>
                  <tr style="background: white;">
                    <th><i class="fa fa-user"></i> {% trans "Name" %}</th>
                    <th><i class=" fa fa-question-circle "></i>{% trans "Login Status" %}</th>
                    <th><i class=" fa fa-question-circle "></i>{% trans "Call Queue Status" %}</th>
                    <th><i class="fa fa-bookmark"></i> {% trans "Calls" %}</th>
                    <!-- <th><i class="fa fa-plug"></i> {% trans "Interface" %}</th> -->
                    <th><i class="fa fa-clock-o"></i> {% trans "Last call at" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>{{ user.username | capfirst }}</td>
                    <td>{{ user.HelplineUser.hl_status | capfirst }}</td>
                    <td class="{{ call_agents | get_item:user.username | default:'unavailable' | lower  }}">{{ call_agents | get_item:user.username | default:'Unavailable' | upper  }}</td>
                    <td></td>
                    <!-- <td></td> -->
                    <td></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <div class="col-sm-4 col-xs-12" style="border-left:solid thin #0CF;">
            <div class="row">
              <div class="col-sm-6 col-md-6" style="padding-right:2px; padding-left:2px;">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  <div class="bg-primary color-palette" align="center" style="border-radius:5px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ case.total }} </span><br />{% trans "Total Cases" %}</div>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 col-md-6" style="padding-right:2px; padding-left:2px;">
                <div class="color-palette-set">
                  <div class="bg-yellow color-palette" align="center" style="border-radius:5px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ case.pending }} </span><br />{% trans "Pending Cases" %}</div>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 col-md-6" style="padding-right:2px; margin-top:10px; padding-left:2px;">
                <div class="color-palette-set">
                  <div class="bg-green color-palette" align="center" style="border-radius:5px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ case.closed }} </span><br />{% trans "Closed Cases" %}</div>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 col-md-6" style="padding-right:2px; margin-top:10px; padding-left:2px;">
                <div class="color-palette-set">
                  <div class="bg-red color-palette" align="center" style="border-radius:5px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ case.escalate }} </span><br />{% trans "Escalated Cases" %}</div>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 col-md-6" style="padding-right:2px; margin-top:10px; padding-left:2px;">
                <div class="color-palette-set">
                  <div class="bg-aqua color-palette" align="center" style="border-radius:5px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.number_tickets | default:0 }} </span><br />{% trans "Total Emails" %}</div>
                </div>
              </div>
              <!-- /.col -->
              <!-- /.col -->
              <div class="col-sm-6 col-md-6" style="padding-right:2px; margin-top:10px; padding-left:2px;">
                <div class="color-palette-set">
                  <!--div class="bg-light-blue disabled color-palette"><span>Disabled</span></div-->
                  <div class="bg-aqua color-palette" align="center" style="border-radius:5px; padding-right:5px; padding-bottom:5px;"><span style="font-size:50px; font-weight:800;">{{ dashboard_stats.total_sms | default:0 }} </span><br />{% trans "Total SMS" %}</div>
                  <!--div class="bg-light-blue-active color-palette"><span>Active</span></div-->
                </div>
              </div>
              <!-- /.col -->

            </div>
          </div>

        </div>
        <!-- /.box-body -->

        <!-- /.box-footer -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->



    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Weekly Statistics</h3>

          </div>
          <!-- /.box-header -->

          <!-- ./box-body -->
          <div class="box-body bg-aqua" style="padding:0px;">
            <div class="row" style="color:#FFF; margin:0px;">
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">

                  <h5 class="description-header">{{ week_dashboard_stats.total_calls }}</h5>
                  <span class="description-text">TOTAL Calls</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">

                  <h5 class="description-header">{{ week_dashboard_stats.answered_calls }}</h5>
                  <span class="description-text">Answered Calls</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">

                  <h5 class="description-header"> {{ week_dashboard_stats.abandoned_calls }}</h5>
                  <span class="description-text">Abandoned Calls</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block">

                  <h5 class="description-header">{{ week_dashboard_stats.voice_mails }}</h5>
                  <span class="description-text">Voice Mail</span>
                </div>
                <!-- /.description-block -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>



    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->

<script type="application/javascript">
  $(document).ready(function () {
            getDataQueue(); //load data on page ready :)
            setInterval(function () {
              getDataQueue();
            }, 3000);
          });

        // Parse data and put values on view
        // Shit!, this will be improved
        // If you can do it send a Pull Request
        function parseDataQueue(data) {
          var maps_agents = Array();
          var uniques_ids = Array();
          var answers = 0, unattended = 0, incoming = 0;
          var c_hold = 0, holdtime = 0, c_talk = 0, talktime = 0;
          var call_in_service_level = 0;
          var total_agents = 0, total_calls = 0;

          for (var q in data) {
            var queue = data[q];

            answers = answers + parseInt(queue.Completed);
            unattended = unattended + parseInt(queue.Abandoned);
            incoming = incoming + parseInt(queue.Calls);



            if (parseInt(queue.TalkTime) > 0 ) {
              talktime = talktime + parseInt(queue.TalkTime);
              c_talk++;
            }

            if (parseInt(queue.Holdtime) > 0 ) {
              holdtime = holdtime + parseInt(queue.Holdtime);
              c_hold++;
            }

                // agents
                maps_agents[q] = Array();
                for (a in queue.members) {
                  total_agents++;
                  maps_agents[q].push(clean_div_name(a));
                  agent = queue.members[a];
                  agent_id_div = '[data-agent="{agent}"][data-queue="{queue}"]'.format({agent: clean_div_name(a), queue: q})

                  $(agent_id_div + ' #calls').html(agent.CallsTaken)
                  str_time_ago = ''
                  if (agent.LastCall > 0) {
                   str_time_ago = agent.LastCallAgo;
                 }
                 $(agent_id_div + ' #last_call').html(str_time_ago)

                 $(agent_id_div + ' #status .state').html(agent.Status.toStrStatusAgent())
                 addLabelDivStatusAgent($(agent_id_div + ' #status .state'));
                 if (agent.Paused == true) {
                        // reason pause introduced in https://goo.gl/Njm6H5
                        // if dont have feature in your Asterisk
                        // check directory patches
                        var reason = '';
                        if (agent.PausedReason){
                          reason = ": {reason}".format({'reason': agent.PausedReason});
                        }
                        var last_pause_time = '';
                        if (parseInt(agent.LastPauseAgo.split(" ")[0]) > 0) {
                          last_pause_time = " was {last_pause} ago".format({'last_pause': agent.LastPauseAgo});
                        }

                        $(agent_id_div + ' #status .pause').remove();
                        $(agent_id_div +' #status .state')
                        .after(' <span class="label label-success label-mini pause">paused'+ reason + last_pause_time + '</span>');
                      } else {
                        $(agent_id_div + ' #status .pause').remove();
                      }

                      if ($(agent_id_div).length == 0) {
                        var tr = '<tr data-queue="' + q + '" data-agent="' + clean_div_name(a) + '">'
                        + '<td>' + agent.Name + '</td>'
                        + '<td id="status"> <span class="label label-info state" style="padding:5px 10px; font-size:16px; border-radius:0px; display: block;">'
                        + agent.Status.toStrStatusAgent()
                        + '</span></td>'
                        + '<td id="calls">' + agent.CallsTaken + '</td>'
                        + '<td>' + agent.StateInterface + '</td>'
                        + '<td id="last_call"></td></tr>';

                        if ($('#agents tbody tr:last').length > 0) {
                          $('#agents tbody tr:last').after(tr);
                        } else {
                          $('#agents tbody').append(tr);
                        }
                      }
                    }

                //callers
                for (caller in queue.entries) {
                  c = queue.entries[caller];
                  total_calls++;

                  if ($("[id='caller-"+ c.Uniqueid + "']").length == 0) {
                    console.log('add:' + c.Uniqueid);
                    var tr = '<tr id="caller-' + c.Uniqueid + '" data-uniqueid="' + c.Uniqueid + '"><td>'
                    + c.CallerIDName + '</td>'
                    + '<td>' + c.CallerIDNum + '</td>'
                    + '<td id="position">'  + c.Position + '</td>'
                    + '<td id="wait">' + c.WaitAgo + '</td></tr>'

                    if ($('#callers tbody tr:last').length > 0){
                      $('#callers tbody tr:last').after(tr);
                    } else {
                      $('#callers tbody').append(tr);
                    }
                  }

                  $("[id='caller-"+ c.Uniqueid + "'] #wait").html(c.WaitAgo);
                  $("[id='caller-"+ c.Uniqueid + "'] #position").html(c.Position);
                  uniques_ids.push(c.Uniqueid);
                }
              }

              $.each($("[id^='caller-']"), function( index, value ) {
                uid = $(value).data('uniqueid');
                if (uniques_ids.indexOf(uid.toString()) == -1) {
                  console.log('removed: ' + uid);
                  $("[id='caller-"+ uid +"']").remove();
                }
              });
              $('#total_callers').html("{total}".format({total:  total_calls}));


              $.each($("[data-agent]"), function( index, value ) {
                queue = $(value).data('queue');
                agent = $(value).data('agent');
                if (maps_agents[queue].indexOf(agent.toString()) == -1) {
                  console.log('removed: %s from %s', agent, queue);
                  $(value).remove();
                }
              });
              $('#total_agent').html("{total}".format({total:  total_agents}));

            // General row
            $('#answered').html(answers);
            $('#abandoned').html(unattended);
            $('#incoming').html(incoming);
            if (c_hold > 0 ) {
              $('#av_wait').html(parseInt((holdtime / c_hold)).toString().toMMSS());
            }
            if (c_talk > 0){
              $('#av_time').html(parseInt((talktime / c_talk)).toString().toMMSS());
            }
            
          }

          function getDataQueue() {
            var result;
            var r = $.ajax({
              type: 'GET',
              url: '{% url "queues" %}'
            });
            r.done(function (response) {
              if (response) {
                result = response.data;
                parseDataQueue(result);
              }
            });
            r.fail(function (response) {
            });

            r.always(function () {
            });
          }
        </script>


        <script>
          $('#language').on('change', function (e) {
            var lang  = $(this).val();
            window.location = '/lang' + '/' + lang;
          });
          $( "#language" ).val("en")

          String.prototype.toStrStatusAgent = function(args) {
            var value = this;
            if (C.status_agent.NOT_INUSE == value) {
              return "Available";
            } else if (C.status_agent.INCALL == value) {
              return "On Call";
            } else if (parseInt(value).isUnavailableInAsterisk()) {
              return "Unavailable";
            } else {
              return "Busy"
            }
          }

          function addLabelDivStatusAgent(div) {
            var label;
            div.removeClass('label-success label-warning label-info label-danger');
            value = div.html();
            if (value == "Available") {
              label = 'success';
            } else if (value == "Unavailable") {
              label = 'danger';
        //Freeswitch status and states
      } else if (value == "Logged Out") {
        label = 'danger';
      } else if (value == "Available") {
        label = 'success';
      } else if (value == "Available (On Demand)") {
        label = 'info';
      } else if (value == "On Break") {
        label = 'warning';
      } else if (value == "Idle") {
        label = 'info';
      } else if (value == "Waiting") {
        label = 'info';
      } else if (value == "Receiving") {
        label = 'warning';
      } else if (value == "In a queue call") {
        label = 'warning';
      } else {
        label = 'warning';
      }
      div.addClass('label-'+label);
    }

  </script>



  {% endblock content %}
