{% load humanize %}

{% block content %}

{% load i18n %}

<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="0jxhquu5po7r0an"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>{% trans "Publish a Form" %}<small>{{ title }}</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Forms</a></li>
        <li class="active">Publish Forms</li>
    </ol>
</section>

<!-- Main content -->
<section class="content"  id="data-view">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="create-forms">
                                <form action="." method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#upload" data-toggle="tab">{% trans "Upload" %}</a></li>
                                            <li><a href="#url" data-toggle="tab">{% trans "URL" %}</a></li>
                                            <li><a href="#db-chooser" data-toggle="tab">{% trans "Dropbox" %}</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="upload">
                                                <table class="narrow-labels">
                                                    {{ form.as_table }}
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="url">
                                                <table class="narrow-labels">
                                                    {{ form_url.as_table }}
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="db-chooser">
                                                <input type="dropbox-chooser" name="dropbox_xls_url" data-link-type="direct" style="visibility: hidden;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div style='float:middle;'>
                                        <div class="form-actions bordered-side bordered-bottom nomargintop">
                                            <input type="submit" class="btn large btn-primary btn-flat" value="{% trans 'Publish' %}" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-blue">
                                    <div class="widget-user-image">

                                        {% if not profile.gravatar_exists %}
                                        <a style="display: inline-block;" title="{% trans "Click to change your avatar" %}" href="https://secure.gravatar.com/site/login" id="gravatar">
                                            {% endif %}
                                            <img src='{{ profile.gravatar }}' alt='gravatar' width='60' height='60' />
                                            {% if not profile.gravatar_exists %}
                                        </a>
                                        {% endif %}
                                        <!--img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar"-->
                                    </div>
                                    <!-- /.widget-user-image -->
                                    <h3 class="widget-user-username">
                                        <a href="{% url "public_profile" content_user.username %}" style=" color: #fff;">{{ content_user.username }}</a>
                                        {% if profile.name %}
                                        <span class="name" style=" color: #fff;">|&nbsp;{{ profile.name }}</span>
                                        {% endif %}
                                    </h3>
                                    <h5 class="widget-user-desc"><a href="{% url "public_profile" content_user.username %}" style=" color: #fff;">{% trans "View Profile Page" %}</a></h5>
                                </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <!--li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li-->
                                        <li><a href="#">{% trans "FORMS" %} <span class="pull-right badge bg-aqua">{{ all_forms|intcomma }}</span></a></li>
                                        <li><a href="#">{% trans "SHARED FORMS" %} <span class="pull-right badge bg-green">{{ num_forms|intcomma }}</span></a></li>
                                        <li><a href="#">{% trans "SUBMISSIONS" %} <span class="pull-right badge bg-blue">{{ user_instances|intcomma }}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% include "published_surveys.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!--p>
{% blocktrans with url=url %}
The url "of" this web application <strong>{{ url }}</strong>
must be given to ODK Collect before it will get forms from and
submit data to ona. In Collect's Main Menu, press the Menu
button. Select Server Preferences, then Server. Enter
<strong>{{ url }}</strong> as the server. {% endblocktrans %}
</p-->