//for helpline by kemboicheru


    .caseDet , .disposeDet{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
	}
	.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
	}
	.skin-blue .main-header .logo {
	background-color: #009fe3;
	}
    .nav.navbar-nav .dropdown.messages-menu  .fa {
	padding-right: 5px;
	}
	/*.bg { 
    /* The image used */
    /* background-image: url("{% static 'helpline/images/login_bg.jpg' %}"); */

    /* Full height *
    height: 100%; 

    /* Center and scale the image nicely *
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


.bg{
    background: #d2d6de;
    background-size: cover;
    background-image: url('/static/helpline/images/315382.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
}

.login-box{
    background-color: #fff;
}

.box{
    border-radius: 0px !important;
}
.homedashboard{
    padding: 5px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
}

.homedashboard .home-panel{
    border:solid thin #d2d6de;
    padding: 3px;
}
.homedashboard .long, .homedashboard .short{
    padding: 5px !important;
}
.home-pallete{
    padding: 5px 0px;
}
.home-pallete .palette-item{
    padding-right:3px !important; 
    padding-left:0px !important;
}

.home-pallete .color-palette{
    padding-right:5px; 
    padding-bottom:5px;
}
.palette-item .color-palette span{
    font-size:50px; 
    font-weight:800;
}
.qa-presence .row{
    padding: 5px;
    padding-right: 0px;
    /*margin-top: 5px;*/
}

.qa-presence .row .col-md-6{
    padding-right: 2px !important;
    padding-left: 2px !important;
    /*margin-top: 5px;*/
}

.home-panel .box-body{
    padding: 5px; padding-top: 0px;
}

/*Reports*/
 .report-filters{
    border-bottom: solid thin #D2D6DE;
    padding:20px;
    background-color: #ECF0F5;
 }